@using EBankApp.Models;
@using System.Web;

@{
    ViewBag.Title = "Dashboard";
    var user = HttpContext.Current.Session["User"] as User;
}

<div id="dashboardContainer">
    <div class="container">
        <h2>Users</h2>
        <table class="table table-condensed">
            <thead>
                <tr>
                    <th>FirstName</th>
                    <th>AccountNumber</th>
                    <th>UserName</th>
                    <th>Role</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="u in users">
                    <td>{{u.FirstName}}</td>
                    <td>{{u.LastName}}</td>
                    <td>{{u.UserName}}</td>
                    <td>{{u.RoleId}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<input type="hidden" id="getAllUsers" value="@Url.Action("GetUsers","User")"/>
@section scripts {
    <script src="~/Scripts/dashboard.js"></script>
}