@using EBankApp.Models;
@using System.Web;
@model EBankApp.Models.User
@using System.Globalization;
@{
    ViewBag.Title = "Dashboard";
    var user = HttpContext.Current.Session[ApplicationKeys.SessionKeys.User] as User;

    var accounts = HttpContext.Current.Session[ApplicationKeys.SessionKeys.Accounts] as List<Account>;
}


<div class="container">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Account number</th>
                <th>Account Type</th>
                <th>Available Balance</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var account in accounts)
            {
                <tr>
                    <td>@account.AccountNumber</td>
                    <td>@account.AccountType</td>
                    @if (account.Currency == (int)CurrencyCode.GBP)
                    {
                        <td class="p-900">
                            @((account.AccountBalance).ToString("C", new CultureInfo("en-GB", false).NumberFormat))
                        </td>
                    }
                    else if (account.Currency == (int)CurrencyCode.USD)
                    {
                        <td class="p-900">@((account.AccountBalance).ToString("C", new CultureInfo("en-US", false).NumberFormat))</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>


@section scripts {
}